html{margin: 0 auto;
height: 100vh;
width: 100vw;}

body {
    background-color: #000000;

    text-align: center;
}

.main {margin: 0 auto;
    height: 100vh;
    width: 45vw;
    transform:  perspective(500px)  rotateX(50deg); 
    text-align: center;
}
.text {
    color: #FFD700;

    position:relative;
    top: 600px;
    font-size: 60px;
    animation: starWars 30s linear 0s 1 none;
}
@keyframes starWars{
	0%{		top:600;
	}
	100%{
		top:-400;
	}
